################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

src/ShopThoiTrang.API/bin/
src/ShopThoiTrang.App/bin/
src/ShopThoiTrang.API/obj/
src/ShopThoiTrang.App/obj/